<div class="main">
    <div class="columns">
        <div class="background-column column is-hidden-mobile has-background-white-ter" style="background-image: url('http://paperlief.com/images/beautiful-sunrise-mountains-wallpaper-3.jpg');">
            <div class="container is-fluid has-text-right">
                <h1 class="title is-1 has-text-white">{{ appConfig.appName }}</h1>
                <h2 class="subtitle is-2 has-text-white">{{ appConfig.appDescript }}</h2>
                <p class="has-text-white"> version {{ appConfig.appVersion }}</p>
            </div>
        </div>
        <div class="form-column column is-mobile is-fifths-tablet is-two-quarter-desktop is-one-quarter-fullhd">
            <div class="container is-fluid">
                <section class="section">
                    <div id="login-form">
                        <div class="has-text-centered">
                            <h1 class="title is-3 is-spaced has-text-grey-dark has-text-weight-semibold">Account
                                Login</h1>
                            <p class="subtitle is-6 has-text-grey has-text-weight-light">Sign In to your
                                account</p>
                        </div>
                        <br><br>
                        <div class="notification has-text-centered is-hidden"></div>
                        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input #input class="input" type="text" formControlName="userName" autofocus placeholder="User name">
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icon has-icon-right">
                                    <label>
                                        <input class="input" type="password" formControlName="password" placeholder="Passsord">
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-primary is-fullwidth" [disabled]="!loginForm.valid">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="has-text-centered">
                        <br>
                        <a class="has-text-grey" routerLink="/account/forgot">Forgot password ?</a>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>




