<div class="main">
    <div class="columns">
        <div class="background-column column is-hidden-mobile has-background-white-ter" style="background-image: url('https://wallpaperaccess.com/full/32822.jpg');">
            <div class="container is-fluid has-text-right">
                <h1 class="title is-1 has-text-white">Welcome to</h1>
                <h2 class="subtitle is-2 has-text-white">{{ appConfig.appName }}</h2>
                <p class="has-text-white">{{ appConfig.appDescript }} version {{ appConfig.appVersion }}</p>
            </div>
        </div>
        <div class="form-column column is-mobile is-fifths-tablet is-two-quarter-desktop is-one-quarter-fullhd">
            <div class="container is-fluid">
                <section class="section">
                    <div id="login-form">
                        <div class="has-text-centered">
                            <h1 class="title is-3 is-spaced has-text-grey-dark has-text-weight-semibold">Account
                                Logout</h1>
                            <p class="subtitle is-6 has-text-grey has-text-weight-light">Log out of your account</p>
                        </div>
                        <br><br>
                        <div id="login-result" class="notification has-text-centered is-hidden"></div>
                    </div>
                    <div class="has-text-centered">
                        <a class="has-text-grey" routerLink="/account/login">Sign In to your account ?</a>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>




